/*
.Menu {  
	position: fixed;
	width: 300px;
	border-right: 1px solid #ddd;
	left: 0px;
	top: 0px;
	height: 100%;
	z-index: 999;
	display: block;
	background: #f7f7f7;
}

.no-scroll {
	overflow-y: auto;
	-ms-overflow-style: none;  
}
.no-scroll::-webkit-scrollbar {
	display: none;
}

.Menu-logo-base {	
	border-bottom: 1px solid #eee;
	background: white;
}

.Menu-logo {
	text-align: center;	
	font-size: 50px;
	font-weight: bold;
	height: 130px;
	padding-top: 20px;
	color: #333;
	text-decoration: none;
}

.Menu-logo:hover {
	color: #333;
	text-decoration: none;
}

.Menu-main li {
	cursor: pointer;
	text-decoration: none;
}

ul, li {
	display: block;  
	list-style: none;
	padding: 0;  
}

.Menu-title {  
	height: 48px;
	line-height: 48px;
	padding-left: 52px;
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: #333;
	letter-spacing: -1px;
	border-bottom: 1px solid #eee;	
	background-color: white;
}

.Menu-link:hover {
	color: #333;
	text-decoration: none;
}

.Menu-child {
	border-bottom: 1px solid #eee;  
}

.Menu-subtitle {
	height: 36px;
	line-height: 36px;
	padding-left: 64px;	
	display: block;
	font-size: 14px;	
	color: #333;
	letter-spacing: -1px;
	font-size: 14px;
}

.Menu-footer {	
	margin-top: 10px;
	line-height: 30px;
	color: #333;
	font-size: 16px;
	font-weight: bold;
}

.Menu-footer-img {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	height: 30px;
	width: 30px;
	display: inline-block;
}

*/

.App-Nav {	
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.App-Nav {
		width: 90%;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.App-Nav {
		max-width: 1260px;
	}
}